/*!*******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./src/client/screens/main-screen/index.module.css ***!
  \*******************************************************************************************************************************/
.src-client-screens-main-screen-index-module-css_hint {
    justify-items: end;
    color: gray;
    font-size: .875rem;
}
/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./src/client/screens/screens.module.css ***!
  \*********************************************************************************************************************/
.src-client-screens-screens-module-css_frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}

.src-client-screens-screens-module-css_clickable {
    cursor: pointer;
}

.src-client-screens-screens-module-css_brand {
    width: 200px;
    fill: var(--text-primary);
    view-transition-name: brand;
}

.src-client-screens-screens-module-css_back {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: var(--text-primary);
    text-decoration: none;
}
/*!***********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./src/client/components/button.module.css ***!
  \***********************************************************************************************************************/
.src-client-components-button-module-css_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
    border: 1px solid var(--text-primary);
    border-radius: 8px;
    background-color: #ffffff;
    outline: 0;
    transition-property: background-color;
    transition-duration: 250ms;
    cursor: pointer;

    &:hover {
        background-color: #f8f8f8;
    }

    &:active {
        background-color: #f0f0f0;
    }
}
/*!*****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./src/client/screens/main-menu/index.module.css ***!
  \*****************************************************************************************************************************/
.src-client-screens-main-menu-index-module-css_button-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
/*!********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./src/client/screens/random-match/index.module.css ***!
  \********************************************************************************************************************************/
.src-client-screens-random-match-index-module-css_avatar {
    aspect-ratio: 1;
    width: 200px;
    max-width: 100%;
    position: relative;

    canvas {
        width: 100%;
        height: 100%;
        border: 1px solid var(--text-primary);
        border-radius: 50%;
        overflow: hidden;
    }

    .src-client-screens-random-match-index-module-css_change-button {
        width: 3rem;
        height: 3rem;
        border: 1px solid var(--text-primary);
        border-radius: 50%;
        position: absolute;
        bottom: .5rem;
        right: .5rem;
    }
}

.src-client-screens-random-match-index-module-css_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    .src-client-screens-random-match-index-module-css_input {
        outline: 0;
        font-size: 1rem;
        min-width: 200px;
        padding: .75rem;
        border: 1px solid var(--text-primary);
        border-radius: 2rem;
        text-align: center;
        field-sizing: content;
    }
}
/*!*****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./src/client/screens/room-join/index.module.css ***!
  \*****************************************************************************************************************************/

.src-client-screens-room-join-index-module-css_title {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0;
}

.src-client-screens-room-join-index-module-css_label {
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
}

.src-client-screens-room-join-index-module-css_divider {
    display: flex;
    gap: 1rem;
    align-items: center;

    &::before,
    &::after {
        display: block;
        content: '';
        width: 120px;
        flex-shrink: 1;
        flex: 1;
        border: .5px solid var(--text-primary);
    }
}

.src-client-screens-room-join-index-module-css_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-items: center;
}

.src-client-screens-room-join-index-module-css_input {
    width: 240px;
    font-size: 1.5rem;
    padding: 8px;
    border: 1px solid var(--text-primary);
    text-align: center;
    font-weight: 300;
    border-radius: .25rem;

    &::placeholder {
        font-size: 1.25rem;
    }
}
/*!****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./src/client/index.css ***!
  \****************************************************************************************************/
:root {
    font-size: 16px;
    font-family: 'Misans TC VF', sans-serif;
    font-weight: 300;
    color: #303030;
    
    --text-primary: #303030;
    --text-secondary: #606060;
    --text-tertiary: #808080;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    box-sizing: border-box ;
    width: 100vw;
    max-width: 100svh;
    height: 100svh;
    padding: 1rem;
    margin: 0 auto;
}
