.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}

.clickable {
    cursor: pointer;
}

.brand {
    width: 200px;
    fill: var(--text-primary);
    view-transition-name: brand;
}

.back {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: var(--text-primary);
    text-decoration: none;
}