.az6OzocteddnvVyQPhGJ {
    justify-items: end;
    color: gray;
    font-size: .875rem;
}
.U7oSrA_repToAG9_yiqr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}

.BXU8U70gUilEG2gIp7Wx {
    cursor: pointer;
}

.Q5JSOgukMyRzGnOzYmXx {
    width: 200px;
    fill: var(--text-primary);
    view-transition-name: brand;
}

.DKFWVd7XAGJs8Pe4Qcky {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: var(--text-primary);
    text-decoration: none;
}
.c649exSNCj6sFLvofv0v {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
    border: 1px solid currentColor;
    border-radius: 8px;
    background-color: #ffffff;
    outline: 0;
    transition-property: background-color;
    transition-duration: 250ms;
    cursor: pointer;

    &:hover {
        background-color: #f8f8f8;
    }

    &:active {
        background-color: #f0f0f0;
    }
}
.mweSzI97d3bA2WWe7Umm {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.mRC6CeHkF_LlDTd24ISp {
    aspect-ratio: 1;
    width: 200px;
    max-width: 100%;
    position: relative;

    canvas {
        width: 100%;
        height: 100%;
        border: 1px solid var(--text-primary);
        border-radius: 50%;
        overflow: hidden;
    }

    .ABWU2gH7_hCzThpjlZVn {
        width: 3rem;
        height: 3rem;
        border: 1px solid var(--text-primary);
        border-radius: 50%;
        position: absolute;
        bottom: .5rem;
        right: .5rem;
    }
}

.iwOF_E7jlVWpyqZoccVm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    .RJ6GeA5Ox8g727uAwR8y {
        outline: 0;
        font-size: 1rem;
        min-width: 200px;
        padding: .75rem;
        border: 1px solid var(--text-primary);
        border-radius: 2rem;
        text-align: center;
        field-sizing: content;
    }
}

.jWLITgiiqJXLNMmL6LUg {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0;
}

.ZwX7TbGrcUdaONQ7YfLr {
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
}

.RwX5W4n3YUlkmlD0ZQKZ {
    display: flex;
    gap: 1rem;
    align-items: center;

    &::before,
    &::after {
        display: block;
        content: '';
        width: 120px;
        flex-shrink: 1;
        flex: 1;
        border: .5px solid var(--text-primary);
    }
}

.QttpAc1uWgywwXtSlNPQ {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-items: center;
}

.n9hM76W0zK0FC1o7d3ME {
    width: 240px;
    font-size: 1.5rem;
    padding: 8px;
    border: 1px solid var(--text-primary);
    text-align: center;
    font-weight: 300;
    border-radius: .25rem;

    &::placeholder {
        font-size: 1.25rem;
    }
}
.VpIeIvbo91WcC5QSX2p4 {
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-primary);
    text-align: center;
    margin: 0;
}

.qA2Lms3Ba4inMps0lJtS {
    display: grid;
    grid: 1fr 1fr / 1fr minmax(150px, 1fr) 1fr;
    flex-grow: 1;
    gap: .5rem;
}

.Xl7aEc_bAQkPgRkknKQu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.VB56Y7wb0qMAQnaKL2wn {
    grid-area: 1 / 2 / 3 / 2;
}

.S83MMEtC9Rv0sA6y_9_y {
    height: 100%;
    width: 100%;
    border: 1px solid var(--text-primary);
    border-radius: .5rem;
    background-color: #c0c0c0;
}

.MT6BCZDUbyXovNtH8aKV {
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--text-primary);
    text-align: center;
    border: 1px solid var(--text-primary);
    border-radius: 1.25rem;
}

.KpuXCi2VDeuWbWp6O0_Z {
    color: #08f;
}

.euNGgi7Ggg6mkUPzcvio {
    display: grid;
    grid: auto / 1fr 1fr;
    gap: .5rem;
    justify-content: center;
}
.EFPLk8oI0L_3eqrIbszI {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ezroiiggtfLO4Dvy2uq4 {
    font-size: 1.5rem;
}

.irej34zwhMuNgcal9RmT {
    flex-grow: 1;
    position: relative;
    width: 100%;
}

.oKuCHMiEnj_WMKFb4vfU {
    display: flex;
    gap: 1rem;
    justify-content: center;
    height: calc(var(--card-width) * 1.375);
    
    --card-width: 120px;
    
    .jOdOF8cmWZB01AGAVOkE {
        width: var(--card-width);
        height: calc(var(--card-width) * 1.375);
        position: relative;

        img {
            height: 100%;
            aspect-ratio: 8 / 11;
            position: absolute;
            top: 0;
            left: 0;
        }

        &:last-child {
            flex-shrink: 0;
        }
    }
}

.Rd8NTBG23zHrxVlWb5Nu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;

    .oKuCHMiEnj_WMKFb4vfU {
        width: fit-content;
        --card-width: 80px;
    }
}

.TXWEuHxN75UK1ncqTW45 {
    display: flex;
    position: absolute;
    gap: 0.5rem;
    
    &.T8oudv_v1VPM2fGcwjsk {
        top: 0;
        flex-direction: column;
    }

    &.pMIGe87LXOn2k6p3dfoo {
        bottom: 0;
        flex-direction: column-reverse;
    }

    &.WWuw6BD27583UX6mmmQI {
        left: 0;
        align-items: flex-start;
    }

    &.G3k6kPkVBtLMimpWOZM8 {
        right: 0;
        align-items: flex-end;
    }
    
    .w4TaCUErQJe8loQCKOCg {
        width: 64px;
        height: 64px;
        border: 1px solid var(--text-primary);
        border-radius: .5rem;
    }

    .oKuCHMiEnj_WMKFb4vfU {
        width: 96px;
        --card-width: 64px;
    }
}

.bjGFIPY3gsWiV96DYeid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;

    .oKuCHMiEnj_WMKFb4vfU {
        width: 400px;
        --card-width: 120px;
    }
}

.v_Bc9Nx4LkHlZNo1LBAv {
    text-align: center;
}
:root {
    font-size: 16px;
    font-family: 'Misans TC VF', sans-serif;
    font-weight: 300;
    color: #303030;
    
    --text-primary: #303030;
    --text-secondary: #606060;
    --text-tertiary: #808080;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    box-sizing: border-box ;
    width: 100vw;
    max-width: 100svh;
    height: 100svh;
    padding: 1rem;
    margin: 0 auto;
}
