.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid var(--text-primary);
    border-radius: 8px;
    background-color: #ffffff;
    outline: 0;
    transition-property: background-color;
    transition-duration: 250ms;
    cursor: pointer;

    &:hover {
        background-color: #f8f8f8;
    }

    &:active {
        background-color: #f0f0f0;
    }
}